.header {
    min-height: 4rem;
    z-index: 1000;
}

.sidebar {
    position: sticky;
    top: 4rem;
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-right: none;
}

@media (min-width: 768px) {
    .sidebar {
        height: calc(100vh - 4rem);
        border-bottom: none;
        border-right: 1px solid rgba(0, 0, 0, 0.125);
    }
}

.td_vertical_middle {
    vertical-align: middle !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}

.td_vertical_middle_large {
    vertical-align: middle !important;
    padding-bottom: 12px !important;
    padding-top: 12px !important;
}

.td_two_buttons {
    vertical-align: middle !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
    padding-right: 0px !important;
}

.td_success {
    color: #157347;
}

.td_danger {
    color: #dc3545;
}
