/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* override chat class styles */
.str-chat-channel.messaging .str-chat__main-panel {
    padding: 0px;
}
@media screen and (max-width: 960px) {
    .str-chat-channel.messaging .str-chat__main-panel {
        padding: 0px;
    }
}

.str-chat {
    height: 70vh;
    font-family: var(--second-font);
    color: var(--black);
}